.header {
  background-color: var(--header-background-color);
  border: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  &_theme-light {
    color: var(--logo-link-black-color);
  }

  &_theme-dark {
    color: var(--header-background-color);
  }
}

.logo__header {
  margin-right: 93px;
  animation-duration: 1000ms;
  animation-iteration-count: 2;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);

    &::after,
    &::after {
      opacity: 1;
      background-color: var(--accent-color);
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;

    transition-property: color, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 30px;
}

.contact-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list__link {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 34px;
  padding-bottom: 34px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);

    & svg,
    & svg {
      fill: var(--accent-color);
    }

    &::after,
    &::after {
      display: block;
      background: var(--accent-color);
      opacity: 1;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;

    transition-property: background, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contact-list__icon {
  fill: var(--secondary-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__active {
  color: var(--accent-color);
  
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
  }
}

